html, body {
  height: 100%;
  margin: 0;
}

.contenedor {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.filaSuperior {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(81, 134, 200);
    height: 10vh;
     box-sizing: border-box;
}

.mensajeEnlace {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    padding: 5px;
    color: white;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.perfilUsuario {
  font-size: 2.5rem;
  margin-right: 1.5rem;
  padding: 5px;
  color: white;
  cursor: pointer;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.perfilUsuario:hover {
  border-radius: 6px;
  border: none;
  transition: background-color 0.3s;
  background-color: rgb(40, 73, 112);
}

.mensajeEnlace:hover {
  border-radius: 6px;
  border: none;
  transition: background-color 0.3s;
  background-color: rgb(40, 73, 112);
}

.paginaInferior {
  flex-grow: 1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal {
  background: white;
  padding: 50px 120px;
  border-radius: 8px;
  position: relative;
  text-align: center;
}

.modal h2 {
  margin-bottom: 40px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.modal p {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.modal button {
  padding: 10px 20px;
  margin-top: 30px;
  
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
}

.cerrar {
  position: absolute;
  top: -25px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 35px;
  cursor: pointer;
}

.cerrarSes {
   height: 3.5rem;
  background-color: rgb(81, 134, 200);
  color: white;
  border: none;
  padding: 0 1.5rem;
  border-radius: 6px;
  font-size: 1.4rem;
  transition: background-color 0.3s;
  box-sizing: border-box;
}

.perfilUsuario {
  cursor: pointer;
  position: relative;
}

.dropdown-menu {
  position: absolute;
  right: 1rem;
  top: 5rem;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  z-index: 1000;
  min-width: 10rem;

  button {
    padding: 1.2rem 1rem;
    background: none;
    border: none;
    text-align: left;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}

