html, body {
  height: 100%;
  margin: 0;
}

.contenedor {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.centro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.filaSuperior {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem; 
  padding: 1rem;
  background-color: #4d8cf3;
  border: 2px solid rgb(54, 74, 99);
  height: 11vh;
  box-sizing: border-box;
  background-image:
    repeating-linear-gradient(50deg, rgb(74, 123, 184) 0.2rem, rgb(74, 123, 184) 0.7rem, transparent 0.1rem, transparent 1.7rem),
    repeating-linear-gradient(-50deg, rgb(74, 123, 184) 0.2rem, rgb(74, 123, 184) 0.7rem, transparent 0.1rem, transparent 1.7rem);
}


.mensajeEnlace {
  font-size: 2.5rem;
  padding: 0.2rem 0.6rem;
  color: white;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(54, 74, 99);
  border-radius: 0 0.6rem 0.6rem 0;
  box-shadow: -0.3rem 0.3rem 0 #4d8cf3;
  border: 0.1rem solid rgb(54, 74, 99);
  font-weight: bold;
  text-shadow: -0.2rem 0.2rem 0 #4d8cf3;
  margin-right: auto;
}

.perfilUsuario {
  font-size: 2.5rem;
  padding: 0.2rem 0.6rem;
  color: white;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(54, 74, 99);
  box-shadow: -0.3rem 0.3rem 0 #4d8cf3;
  border-radius: 0.6rem 0 0 0.6rem;
  border: 0.1rem solid rgb(54, 74, 99);
  font-weight: bold;
  text-shadow: -0.2rem 0.2rem 0 #4d8cf3;
}

.perfilUsuario:hover {
  color: white;
  transition: background-color 0.5s;
  background-color: #4d8cf3;
  font-weight: bold;
  box-shadow: -0.3rem 0.3rem 0 rgb(54, 74, 99);
  text-shadow: -0.2rem 0.2rem 0 rgb(54, 74, 99);
}

.mensajeEnlace:hover {
  color: white;
  transition: background-color 0.5s;
  background-color: #4d8cf3;
  font-weight: bold;
  box-shadow: -0.3rem 0.3rem 0 rgb(54, 74, 99);
  text-shadow: -0.2rem 0.2rem 0 rgb(54, 74, 99);
}

.paginaInferior {
  flex-grow: 1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal {
  background: #f5f5f5;
  border-radius: 0.5rem;
  position: relative;
  text-align: center;
  border: 0.15rem solid rgb(40, 73, 112);
  box-shadow: -0.6rem 0.6rem 0 rgb(54, 74, 99);
}

.paddin1 {
  padding: 3rem 6rem;
}

.paddin2 {
  padding: 2rem 3rem;
}

.modal h2 {
  margin-bottom: 2.5rem;
  color:#4d8cf3;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
}

.modal p {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.modal label {
  font-family: 'Ubuntu', sans-serif;
}

.modal button {
  padding: 0.6rem 1.2rem;
  margin-top: 2rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
}

.cerrar {
  position: absolute;
  top: -1.8rem;
  right: 0.6rem;
  border: none;
  background: transparent;
  color: #4d8cf3;
  font-size: 2.3rem !important;
  cursor: pointer;
  line-height: 1;
}

.perfilUsuario {
  cursor: pointer;
  position: relative;
}

.dropdown-menu {
  position: absolute;
  right: 1rem;
  top: 5rem;
  background-color: white;
  border-radius: 0.2rem;
  border: 0.1rem solid rgb(40, 73, 112);
  box-shadow: -0.4rem 0.4rem 0 rgb(54, 74, 99);
  display: flex;
  flex-direction: column;
  z-index: 1000;
  min-width: 10rem;

  button {
    padding: 1.2rem 1rem;
    background: none;
    border: none;
    color: #4d8cf3;
    text-align: left;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.4s ease;
  }

  button:hover {
    background-color: #f5f5f5;
  }
}


.imaginput {
  margin-left: 3rem;
  padding: 0.2rem 0.6rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  width: 20rem;
  text-align: center;
  font-size: 1.5rem;
}

button {
  background-color: #4d8cf3;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 2.7rem;
  margin-bottom: 0.7rem;
  font-size: 1.5rem;
}

.form-group label {
  width: 7rem;
  text-align: right;
  margin-right: 0.6rem;
}

.correoTexto {
  margin: 0;
  padding: 0.1rem 0.6rem;
  font-size: 1.72rem;
  background-color: #f5f5f5;
  border-radius: 0.6rem;
  width: 20rem;
  margin-left: 3rem;
  text-align: center;
  border: 0.05rem solid #ccc;
}

.guardarCerrar {
  padding: 0 1.5rem;
  font-size: 1.4rem;
  border: 0.1rem solid rgb(40, 73, 112);
  box-shadow: -0.3rem 0.3rem 0 rgb(54, 74, 99);
}

.guardarCerrar:hover {
  background-color: rgb(54, 74, 99);
  border: 0.1rem solid rgb(40, 73, 112);
  box-shadow: -0.3rem 0.3rem 0 #4d8cf3;
  transition: background-color 0.3s;
}

.notificacion {
  margin-top: 3rem;
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 2.3rem;
  border-radius: 0.6rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  background-color: #f5f5f5;
  font-weight: bold;
  z-index: 9999;
  opacity: 0.95;
  border: 0.1rem solid rgb(40, 73, 112);
  box-shadow: -0.3rem 0.3rem 0 rgb(54, 74, 99);
  color: rgb(81, 134, 200);
  animation: fadeInOut 3s forwards;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateX(-50%) translateY(-0.6rem); }
  10% { opacity: 1; transform: translateX(-50%) translateY(0); }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translateX(-50%) translateY(-0.6rem); }
}

.icono-refresh {
  margin-left: 0.6rem;
  vertical-align: middle;
  display: inline-block;
  animation: rotarYZoom 1s forwards ease;
}

@keyframes rotarYZoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}