html, body {
  height: 100%;
  margin: 0;
}

.contenedor {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.centro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  position: relative;
}

.filaSuperior {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vh;
  background-color: #4d8cf3;
  border: 0.5vh solid rgb(54, 74, 99);
  height: 11vh;
  box-sizing: border-box;
  background-image:
    repeating-linear-gradient(50deg, rgb(74, 123, 184) 0.3vh, rgb(74, 123, 184) 1.4vh, transparent 0.1vh, transparent 4vh),
    repeating-linear-gradient(-50deg, rgb(74, 123, 184) 0.3vh, rgb(74, 123, 184) 1.4vh, transparent 0.1vh, transparent 4vh);
}


.mensajeEnlace {
  font-size: 4.3vh;
  padding: 0.6vh 1.5vh;
  color: white;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(54, 74, 99);
  border-radius: 0 1.5vh 1.5vh 0;
  box-shadow: -0.8vh 0.8vh 0 #4d8cf3;
  border: 0.3vh solid rgb(54, 74, 99);
  font-weight: bold;
  text-shadow: -0.4vh 0.4vh 0 #4d8cf3;
  margin-right: auto;
}

.perfilUsuario {
  font-size: 4.3vh;
  padding: 0.6vh 1.5vh;
  color: white;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(54, 74, 99);
  box-shadow: -0.8vh 0.8vh 0 #4d8cf3;
  border-radius: 1.5vh 0 0 1.5vh;
  border: 0.3vh solid rgb(54, 74, 99);
  font-weight: bold;
  text-shadow: -0.4vh 0.4vh  0 #4d8cf3;
}

.perfilUsuario:hover {
  color: white;
  transition: background-color 0.5s;
  background-color: #4d8cf3;
  font-weight: bold;
  box-shadow: -0.8vh 0.8vh 0 rgb(54, 74, 99);
  text-shadow: -0.4vh 0.4vh 0 rgb(54, 74, 99);
}

.mensajeEnlace:hover {
  color: white;
  transition: background-color 0.5s;
  background-color: #4d8cf3;
  font-weight: bold;
  box-shadow: -0.8vh 0.8vh 0 rgb(54, 74, 99);
  text-shadow: -0.4vh 0.4vh 0 rgb(54, 74, 99);
}

.paginaInferior {
  flex-grow: 1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal {
  background: #f5f5f5;
  border-radius: 3vh;
  position: relative;
  text-align: center;
  border: 0.4vh solid rgb(54, 74, 99);
  box-shadow: -1vh 1vh 0 rgb(40, 73, 112);
}

.paddin1 {
  padding: 7vh 5vw;
}

.paddin2 {
  padding: 5vh 3.5vw;
}

.modal h2 {
  margin-bottom: 4vh;
  color:#4d8cf3;
  font-family: 'Ubuntu', sans-serif;
  font-size: 4vh;
  font-weight: bold;
}

.modal p {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.modal label {
  font-family: 'Ubuntu', sans-serif;
}

.modal button {
  padding: 1.3vh 2.3vh;
  margin-top: 4vh;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3.5vh;
  font-weight: bold;
  cursor: pointer;
}

.cerrar {
  position: absolute;
  top: -3vh;
  right: 1.4vh;
  border: none;
  background: transparent;
  color: #4d8cf3;
  font-size: 4.5vh !important;
  cursor: pointer;
  line-height: 1;
}

.perfilUsuario {
  cursor: pointer;
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.05vh);
  background-color: white;
  border-radius: 0.8vh;
  border: 0.3vh solid rgb(40, 73, 112);
  box-shadow: -0.8vh 0.8vh 0 rgb(54, 74, 99);
  display: flex;
  flex-direction: column;
  z-index: 1000;
  transform: translateX(10%);

  button {
    padding: 3vh 2vw;
    background: none;
    border: none;
    color: #4d8cf3;
    text-align: left;
    font-size: 2.4vh;
    cursor: pointer;
    transition: background-color 0.4s ease;
  }

  button:hover {
    background-color: #f5f5f5;
  }
}

.imaginput {
  margin-left: 6.5vh;
  padding: 0.8vh 1.2vw;
  border-radius: 1vh;
  border: 0.2vh solid #ccc;
  width: 20vw;
  text-align: center;
  font-size: 2.3vh;
}

.inputConIcono {
  position: relative;
  display: inline-block;
  width: 67%;
}

.inputConIcono input.imaginput {
  width: 100%;
  padding-left: 2vh;
  box-sizing: border-box;
}

.iconoOjo.material-symbols-outlined {
  position: absolute;
  top: 50%;
  right: 1.2vh;
  transform: translateY(-50%);
  font-size: 2.8vh;
  color: #555;
  cursor: pointer;
  background: none;
  border: none;
  user-select: none;
  margin-right: -3vw;
}

button {
  background-color: #4d8cf3;
  color: white;
  padding: 1vh 3vh;
  border: none;
  border-radius: 1vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2vh;
  cursor: pointer;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 3vh;
  margin-bottom: 2vh;
  font-size: 2.3vh;
}

.form-group label {
  width: 8vw;
  text-align: right;
}

.form-group.inputConIcono .imaginput {
  padding-right: 4vh;
}

.correoTexto {
  margin: 0;
  padding: 0.8vh 1.2vw;
  font-size: 2.3vh;
  background-color: #f5f5f5;
  border-radius: 1vh;
  width: 20vw;
  margin-left: 6.5vh;
  text-align: center;
  border: 0.2vh solid #ccc;
}

.guardarCerrar {
  padding: 0 2vh;
  border: 0.4vh solid rgb(40, 73, 112);
  border-radius: 1vh;
  box-shadow: -0.7vh 0.7vh 0 rgb(54, 74, 99);
}

.guardarCerrar:hover {
  background-color: rgb(54, 74, 99);
  border: 0.4vh solid rgb(40, 73, 112);
  box-shadow: -0.7vh 0.7vh 0 #4d8cf3;
  transition: background-color 0.3s;
}

.notificacion {
  margin-top: 4.5vh;
  position: fixed;
  top: 1.5vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.5vh 3vw;
  border-radius: 1vh;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.3vh;
  background-color: #f5f5f5;
  font-weight: bold;
  z-index: 9999;
  opacity: 0.95;
  border: 0.4vh solid rgb(40, 73, 112);
  box-shadow: -0.8vh 0.8vh 0 rgb(54, 74, 99);
  color: rgb(81, 134, 200);
  animation: fadeInOut 3s forwards;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateX(-50%) translateY(-1vh); }
  10% { opacity: 1; transform: translateX(-50%) translateY(0); }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translateX(-50%) translateY(-1vh); }
}

.icono-refresh {
  margin-left: 1vh;
  vertical-align: middle;
  display: inline-block;
  animation: rotarYZoom 1s forwards ease;
}

@keyframes rotarYZoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}