<div class="contenedor"  *ngIf="!esRutaVerificacion">
  <div class="filaSuperior">
    <div class="centro">
      <p class="perfilUsuario" (click)="toggleMenu()" #menuTrigger>{{ respuesta }}</p>
      <div class="mensajeEnlace"
          [style.visibility]="(respuesta !== 'Registrarse' || estaEnLoginORegistro) ? 'visible' : 'hidden'"
          (click)="(respuesta !== 'Registrarse' && esHome) ? redirigirURLs() : volverHome()">
        {{ (respuesta !== 'Registrarse' && esHome) ? 'TUS URLs' : (estaEnLoginORegistro ? 'Volver' : '') }}
      </div>

    

      <div class="dropdown-menu" *ngIf="mostrarDropdown" #dropdownMenu>
        <button (click)="abrirModalDatos()">Ver datos</button>
        <button (click)="abrirModalDesdeDropdown()">Cerrar sesión</button>
      </div>
    </div>
  </div>

  <div class="paginaInferior">
    <router-outlet></router-outlet>
  </div>
</div>

<div *ngIf="esRutaVerificacion">
  <router-outlet></router-outlet>
</div>

<div *ngIf="mostrarModal" class="modal-overlay">
  <div class="modal paddin1" #modalCerrarSesion>
    <button class="cerrar" (click)="cerrarModal()">×</button>
    <h2>¿Deseas cerrar sesión?</h2>
    <button class="guardarCerrar" (click)="cerrarSesion()">Cerrar sesión</button>
  </div>
</div>

<div *ngIf="mostrarDatos" class="modal-overlay">
  <div class="modal paddin2" #modalDatos>
    <button class="cerrar" (click)="cerrarModalDatos()">×</button>
    <h2>DATOS DEL USUARIO</h2>

    <div class="form-group">
      <label><strong>Nombre:</strong></label>
      <input class="imaginput" type="text" [(ngModel)]="nombreUsuario" maxlength="20" />
    </div>

    <div class="form-group">
      <label><strong>Correo:</strong></label>
      <p class="correoTexto">{{ correoUsuario }}</p>
    </div>

    <div class="form-group">
      <label><strong>Contraseña:</strong></label>
      <div class="inputConIcono">
        <input
          class="imaginput" [type]="mostrarContrasenaModal ? 'text' : 'password'" [(ngModel)]="contrasenaUsuario" maxlength="30"/>
        <span
          type="button"(click)="mostrarContrasenaModal = !mostrarContrasenaModal"class="iconoOjo material-symbols-outlined">
          {{ mostrarContrasenaModal ? 'visibility' : 'visibility_off' }}
        </span>
      </div>
    </div>

    
    <button class="guardarCerrar" (click)="guardarCambiosUsuario()">Guardar cambios</button>
  </div>
</div>

<div *ngIf="notificacion" class="notificacion">
  {{notificacion}}
  <span class="material-symbols-outlined icono-refresh">cloud_done</span>
</div>

