# Backend
/target/
/*.iml
*.log
*.class
*.jar
/backend/src/main/resources/application.properties
/backend/src/main/resources/acortadorurls-6df6f-firebase-adminsdk-*.json

# Frontend
/node_modules/
/dist/
/.angular/

# Sistema
.DS_Store
*.env
*.key
*.pem
*.p12
