<div class="contenedor-cards">
  <div *ngFor="let url of urls" class="card-url">
    <div class="fila-etiqueta">
      <div class="etiqueta">URL Original:</div>
      <p class="contenido">{{ url.originalUrl }}</p>
    </div>
    
    <div class="fila-etiqueta">
      <div class="etiqueta">URL Acortada:</div>
      <p class="contenido">https://acortadorurlonline-production.up.railway.app/api/URL/r/{{ url.shortId }}</p>
    </div>
    
    <div class="fila-inferior">
      <div class="fila-etiqueta">
        <label class="etiqueta">Usos restantes:</label>
        <input class="imaginput contenido" type="number" [(ngModel)]="url.nuevosUsos" min="1" max="99"
                (keydown)="validarInput($event, url)" (paste)="evitarPegar($event)" />
      </div>

      <div class="botones">
        <button (click)="guardarUsos(url)">Guardar</button>
        <button (click)="confirmarEliminacion(url.shortId)">Borrar</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="mensaje" class="notificacion" [ngClass]="tipoMensaje">
  {{ mensaje }}
  <span class="material-symbols-outlined icono-refresh">refresh</span>
</div>

<div *ngIf="mostrarModal" class="modal-overlay">
  <div class="modal">
    <button class="cerrar" (click)="cancelarEliminacion()">×</button>
    <h2>¿Estás seguro de que deseas eliminar esta URL?</h2>
    <button class="eliminar" (click)="eliminarConfirmado()">Eliminar URL</button>
  </div>
</div>
