* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper-cuerpo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedorLog {
  margin: 2rem auto;
  padding: 1.3rem 1.5rem;
  width: 30rem;
  min-height: 30rem;
  background-color: #f5f5f5;
  border: 0.15rem solid rgb(121, 121, 121);
  box-shadow: -0.6rem 0.6rem 0 rgb(153, 153, 153);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.contenedorSwitch {
  background-color: #4d8cf3;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  border-radius: 8px;
  margin-bottom: 50px;
  border: 0.15rem solid rgb(40, 73, 112);
  box-shadow: -0.2rem 0.2rem 0 rgb(54, 74, 99);
}

.switchLog {
  height: 3.2rem;
  background-color: rgb(54, 74, 99);
  color: white;
  border: none;
  padding: 0 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.4rem;
  font-family: 'Ubuntu', sans-serif;
  transition: background-color 0.3s;
  box-sizing: border-box;
}

.switchLog.activo {
  background-color: #4d8cf3;
  color: white;
  font-weight: bold;
}

.tipoAcceso {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

.tipoAcceso form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
  padding: 0 2rem;
  flex-grow: 1;
  min-height: 23rem;
}

.botonAcceso {
  background-color: #4d8cf3;
  color: white;
  border: none;
  padding: 0.8rem;
  font-size: 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  margin-top: auto;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  transition: background-color 0.3s;
  border: 0.15rem solid rgb(40, 73, 112);
  box-shadow: -0.3rem 0.3rem 0 rgb(54, 74, 99);
}

.botonAcceso:hover {
  color: white;
  transition: background-color 0.5s;
  background-color: rgb(54, 74, 99);
  font-weight: bold;
  box-shadow: -0.3rem 0.3rem 0 #4d8cf3;
}

.tipoAcceso input {
  padding: 1.1rem;
  font-size: 1.1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.tipoAcceso form p {
  text-align: center;
  width: 100%;
}

.inputConIcono {
  position: relative;
  display: flex;
  align-items: center;
}

.inputConIcono input {
  width: 100%;
  padding-right: 3rem;
}

.iconoOjo {
  position: absolute;
  right: 0.8rem;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.iconoOjo.material-icons {
  position: absolute;
  right: 0.8rem;
  background: transparent;
  border: none;
  font-size: 1.6rem;
  color: #555;
  cursor: pointer;
  padding: 0;
}

p {
  height: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  font-size: 1.3rem;
}

.error {
  color: red;
}

.enlace {
  color:#555;
  cursor: pointer;
}

.notificacion {
  margin-top: 50px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 35px 50px;
  border-radius: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
  background-color: white;
  font-weight: bold;
  z-index: 9999;
  opacity: 0.95;
  border: 0.1rem solid rgb(40, 73, 112);
  box-shadow: -0.3rem 0.3rem 0 rgb(54, 74, 99);
  color: #4d8cf3;
  animation: fadeInOut 3s forwards;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateX(-50%) translateY(-10px); }
  10% { opacity: 1; transform: translateX(-50%) translateY(0); }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translateX(-50%) translateY(-10px); }
}

.icono-refresh {
  margin-left: 10px;
  vertical-align: middle;
  display: inline-block;
  animation: rotarYZoom 1s forwards ease;
}

@keyframes rotarYZoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9990;
}

.modal {
  background: white;
  padding: 60px 100px;
  border-radius: 8px;
  position: relative;
  text-align: center;
  border: 0.15rem solid rgb(40, 73, 112);
  box-shadow: -0.6rem 0.6rem 0 rgb(54, 74, 99);
}

.modal h2 {
  margin-bottom: 40px;
  font-family: 'Ubuntu', sans-serif;
}

.modal p {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.modal label {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.modal button {
  padding: 10px 20px;
  margin-top: 70px;
  
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
}

.cerrar {
  position: absolute;
  top: -70px;
  right: 10px;
  border: none;
  background: transparent;
  color: #4d8cf3;
  font-size: 35px;
  cursor: pointer;
}

.enviarCor {
  height: 3.5rem;
  background-color: #4d8cf3;
  color: white;
  border: none;
  padding: 0 1.5rem;
  border-radius: 6px;
  font-size: 1.4rem;
  transition: background-color 0.3s;
  box-sizing: border-box;
  font-weight: bold;
  border: 0.15rem solid rgb(40, 73, 112);
  box-shadow: -0.2rem 0.2rem 0 rgb(54, 74, 99);
}

.enviarCor:hover {
  color: white;
  transition: background-color 0.5s;
  background-color: rgb(54, 74, 99);
  font-weight: bold;
  box-shadow: -0.3rem 0.3rem 0 #4d8cf3;
}

.imaginput {
  margin-top: 30px;
    padding: 6px 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 600px;
    text-align: center;
    font-size: 20px;
  }

