

* {
  box-sizing: border-box;
}

.contenedorRestablecerContrasena {
  margin: 0;
  padding: 1.5rem 1.5rem;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}


.titulo {
    text-align: center;
  padding: 10px 20px;
  margin-bottom: 100px;
  color: #ffffff;
  background-color: #4d8cf3;
  border: none;
  border-radius: 12px;
  font-size: 3rem;
  font-family: 'Ubuntu', sans-serif;
  border: 0.1rem solid rgb(40, 73, 112);
  box-shadow: -0.6rem 0.6rem 0 rgb(54, 74, 99);
  cursor: pointer;
}

p {
  font-size: 2rem;
  color: rgb(83, 62, 62);
  font-weight: bold;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  font-family: 'Ubuntu', sans-serif;
}

input {
  width: 100%;
  height: 3.2rem;
  padding: 0 1rem;
  font-size: 1.4rem;
  border-radius: 6px 0 0 6px;
  border: 0.1rem solid #ccc;
  box-shadow: -0.3rem 0.3rem 0 #ccc;
  font-family: 'Gill Sans', 'Girgb(170, 170, 170)ans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

button {
  height: 3.2rem;
  background-color: #4d8cf3;
  color: white;
  border: 0.1rem solid rgb(40, 73, 112);
  box-shadow: -0.3rem 0.3rem 0 rgb(54, 74, 99);
  padding: 0 1.5rem;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  font-size: 1.4rem;
  font-family: 'Ubuntu', sans-serif;
  transition: background-color 0.3s;
  box-sizing: border-box;
}

.formulario-recuperacion {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
  margin-top: 40px;
}

button:hover {
  background-color: rgb(54, 74, 99);
  box-shadow: -0.3rem 0.3rem 0 rgb(81, 134, 200);
}