.mensaje {
  text-align: center;
  margin: 5rem auto;
  margin-top: 2rem;
  font-size: 3rem;
  height: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.titulo {
    color: #ffffff;
    background-color: #2196f3;
    margin-left: 60px;
    margin-right: 60px;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
}